
HOME PAGE
<h1>{{message}}</h1>

{{#tenant}}
<div class="alert alert-warning">
    {{name}}
</div>
{{/tenant}}

Users:<br />
{{#if users}}
    {{#each users}}
        {{lastName}}, {{firstName}}<br />
    {{/#each}}
{{else}}
    If and array/list of "users" were returned, there would be results here.
{{/if}}
